.footer-icon,
.header1,
.video {
  position: absolute;
  width: 1440px;
}
.video {
  top: 80px;
  left: 0;
  background-color: var(--color-silver);
  height: 637px;
}
.footer-icon,
.header1 {
  top: calc(50% + 328.5px);
  left: calc(50% - 720px);
  height: 60px;
}
.header1 {
  top: calc(50% - 40px);
  background-color: var(--color-darkgray-100);
  height: 80px;
}
.logo-icon {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 700px);
  width: 80px;
  height: 60px;
  object-fit: cover;
}
.header,
.header-footer {
  position: absolute;
  top: calc(50% - 388.5px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 80px;
}
.header-footer {
  height: 777px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-300);
  width: 1160px;
  height: 480px;
}
.group-child1,
.group-inner,
.group-item,
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 298px;
  object-fit: cover;
}
.group-child1,
.group-inner,
.rectangle-icon {
  left: 461px;
}
.group-child1,
.rectangle-icon {
  left: 922px;
}
.group-child1 {
  left: 1383px;
}
.group-wrapper,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1823px;
  height: 298px;
}
.group-wrapper {
  top: 95px;
  left: 600px;
  width: 480px;
  overflow-x: auto;
}
.book-a-room,
.gallery {
  position: absolute;
  left: 126px;
  width: 440px;
}
.gallery {
  top: 120px;
  text-decoration: underline;
  display: flex;
  align-items: flex-end;
  height: 121px;
}
.book-a-room {
  top: 241px;
  font-size: var(--font-size-sm);
  font-family: var(--font-comic-sans-ms);
  white-space: pre-wrap;
  display: inline-block;
  height: 119px;
}
.rectangle-parent {
  position: absolute;
  top: 1644px;
  left: 0;
  width: 1160px;
  height: 480px;
}
.book-a-room1,
.ratings {
  position: absolute;
  left: 120px;
  width: 440px;
}
.ratings {
  top: 77px;
  font-size: var(--font-size-52xl);
  text-decoration: underline;
  display: flex;
  align-items: flex-end;
}
.book-a-room1 {
  top: 156px;
  font-family: var(--font-comic-sans-ms);
  white-space: pre-wrap;
  display: inline-block;
  height: 119px;
}
.group-child2 {
  position: absolute;
  top: 313px;
  left: 181px;
  border-radius: var(--br-15xl);
  background-color: var(--color-deepskyblue);
  width: 200px;
  height: 80px;
}
.rate {
  position: absolute;
  top: 338px;
  left: 238px;
  font-family: var(--font-copse);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 31px;
}
.group-child3,
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 480px;
}
.group-child3 {
  background-color: var(--color-gainsboro);
  width: 440px;
  height: 316px;
}
.group-child4,
.group-child5 {
  position: absolute;
  top: 0;
  left: 120px;
  background-color: var(--color-gray-200);
  width: 200px;
  height: 95px;
}
.group-child5 {
  top: 139px;
  left: 33px;
  width: 372px;
  height: 177px;
}
.best-place,
.reviewer-1 {
  position: absolute;
  top: 17px;
  left: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 62px;
}
.best-place {
  top: 163px;
  left: 58px;
  font-family: var(--font-dhyana);
  width: 326px;
  height: 129px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 316px;
}
.group-div,
.group-frame,
.rectangle-parent2,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 476px;
  width: 440px;
  height: 316px;
}
.group-div,
.group-frame,
.rectangle-parent3 {
  left: 952px;
}
.group-div,
.group-frame {
  left: 0;
  width: 1392px;
}
.group-frame {
  top: 77px;
  left: 560px;
  width: 516px;
  overflow-x: auto;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-delius-unicase);
}
.group-container {
  position: absolute;
  top: 1096px;
  left: 0;
  width: 1160px;
  height: 480px;
  font-size: var(--font-size-sm);
}
.events {
  position: absolute;
  top: 32px;
  left: 456px;
  text-decoration: underline;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 920px;
  height: 288px;
}
.event-1,
.group-child14 {
  position: absolute;
  top: 31px;
  width: 320px;
}
.group-child14 {
  left: 480px;
  background-color: #d22e2e;
  height: 226px;
}
.event-1 {
  left: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 68px;
}
.event-description {
  margin: 0;
}
.event-description-event-date-container1 {
  width: 100%;
}
.event-description-event-date-container {
  position: absolute;
  top: 99px;
  left: 120px;
  font-size: var(--font-size-sm);
  font-family: var(--font-droid-sans);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 320px;
  height: 158px;
}
.group-child16,
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 920px;
  height: 288px;
}
.group-child16 {
  top: 31px;
  left: 480px;
  background-color: #d2cc2e;
  width: 320px;
  height: 226px;
}
.group-child18,
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 964px;
  width: 920px;
  height: 288px;
}
.group-child18 {
  top: 31px;
  left: 480px;
  background-color: #58d22e;
  width: 320px;
  height: 226px;
}
.group-child20,
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 1928px;
  width: 920px;
  height: 288px;
}
.group-child20 {
  top: 31px;
  left: 480px;
  background-color: #2ec8d2;
  width: 320px;
  height: 226px;
}
.frame-div,
.group-parent1,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 2892px;
  width: 920px;
  height: 288px;
}
.frame-div,
.group-parent1 {
  left: 0;
  width: 3812px;
}
.frame-div {
  top: 139px;
  left: 83px;
  width: 993px;
  overflow-x: auto;
  text-align: center;
  font-family: var(--font-david-libre);
}
.group-wrapper1,
.rectangle-parent4 {
  position: absolute;
  top: 548px;
  left: 0;
  width: 1160px;
  height: 480px;
}
.group-wrapper1 {
  top: 95px;
  left: 600px;
  width: 476px;
  height: 298px;
  overflow-x: auto;
}
.book-a-room2,
.reservation {
  position: absolute;
  left: 120px;
}
.reservation {
  top: 35px;
  font-size: var(--font-size-52xl);
  text-decoration: underline;
  display: flex;
  font-family: var(--font-comfortaa);
  align-items: flex-end;
  width: 440px;
  height: 121px;
}
.book-a-room2 {
  top: 156px;
  font-family: var(--font-comic-sans-ms);
  white-space: pre-wrap;
  display: inline-block;
  width: 480px;
  height: 119px;
}
.group-child26,
.group-child27 {
  position: absolute;
  top: 313px;
  left: 120px;
  border-radius: var(--br-15xl);
  background-color: var(--color-deepskyblue);
  width: 200px;
  height: 80px;
}
.group-child27 {
  left: 360px;
}
.room-reservation,
.table-reservation {
  position: absolute;
  top: 337px;
  left: 177px;
  text-align: center;
  display: inline-block;
  width: 86px;
  height: 31px;
}
.table-reservation {
  left: 417px;
}
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 480px;
  font-size: var(--font-size-sm);
  font-family: var(--font-copse);
}
.group-parent,
.home-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 2124px;
}
.home-inner {
  top: 118px;
  left: 140px;
  border-radius: 78px;
  height: 561px;
  overflow-y: auto;
}
.home-nav-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 800px;
  height: 80px;
}
.menu,
.nav-bar {
  position: absolute;
}
.nav-bar {
  top: calc(50% - 30px);
  left: calc(50% + 40px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray);
  width: 80px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.menu {
  top: 23px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
}
.nav-bar-parent {
  top: calc(50% - 20px);
  left: calc(50% - 379px);
  width: 80px;
  cursor: pointer;
}
.nav-bar-group,
.nav-bar-parent,
.nav-bar2 {
  position: absolute;
  height: 60px;
}
.nav-bar-group {
  top: calc(50% - 20px);
  left: calc(50% - 259px);
  width: 80px;
  cursor: pointer;
}
.nav-bar2 {
  top: calc(50% - 30px);
  left: calc(50% + 61px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray);
  width: 122px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.special-offers {
  position: absolute;
  top: 23px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73.2px;
}
.nav-bar-container,
.nav-bar3 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 139px);
  width: 122px;
  height: 60px;
}
.nav-bar3 {
  top: calc(50% - 30px);
  left: calc(50% + 57.5px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray);
  width: 115px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.news-letter {
  position: absolute;
  top: 23px;
  left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
}
.nav-bar-parent1,
.nav-bar-parent2,
.nav-bar-parent3 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 23px);
  width: 115px;
  height: 60px;
}
.nav-bar-parent2,
.nav-bar-parent3 {
  left: calc(50% + 178px);
  width: 80px;
}
.nav-bar-parent3 {
  left: calc(50% + 298px);
  cursor: pointer;
}
.home-nav-bar {
  position: absolute;
  top: 0;
  left: 640px;
  width: 800px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 777px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-52xl);
  color: var(--color-black);
  font-family: var(--font-comfortaa);
}
