.appetizer-list-child,
.video1 {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 637px;
}
.appetizer-list-child {
  top: 0;
  background-color: var(--color-gainsboro);
  width: 1160px;
  height: 1296px;
}
.menu-item-child,
.menu-item-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray-200);
  width: 1000px;
  height: 280px;
}
.menu-item-item {
  top: 37px;
  left: 703px;
  background-color: var(--color-gainsboro);
  width: 257px;
  height: 205px;
}
.description,
.item-1,
.price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  top: 98px;
  left: 40px;
  width: 440px;
  height: 144px;
}
.item-1,
.price {
  top: 18px;
  width: 200px;
  height: 61px;
}
.item-1 {
  left: 40px;
  font-size: var(--font-size-21xl);
  text-decoration: underline;
}
.price {
  left: 300px;
  font-size: var(--font-size-13xl);
}
.menu-item,
.menu-item1,
.menu-item2,
.menu-item3 {
  position: absolute;
  top: 43px;
  left: 80px;
  width: 1000px;
  height: 280px;
}
.menu-item1,
.menu-item2,
.menu-item3 {
  top: 357px;
}
.menu-item2,
.menu-item3 {
  top: 671px;
}
.menu-item3 {
  top: 985px;
}
.appetizer-list,
.appetizer-list-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 1296px;
}
.appetizer-list-wrapper {
  height: 70.92%;
  width: 100%;
  top: 10.84%;
  right: 0;
  bottom: 18.24%;
  overflow-y: auto;
}
.menu-nav-child,
.menu-tab-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menu-nav-child {
  background-color: var(--color-gainsboro);
}
.menu-tab-child {
  border-radius: var(--br-3xl);
  background-color: #f90;
}
.appetizers {
  position: absolute;
  top: 25%;
  left: 8.5%;
}
.menu-tab,
.menu-tab-item {
  position: absolute;
  height: 65.82%;
  width: 17.24%;
  top: 17.72%;
  right: 72.41%;
  bottom: 16.46%;
  left: 10.34%;
}
.menu-tab-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--color-black);
}
.main-course,
.menu-tab1 {
  position: absolute;
  top: 25%;
  left: 1.5%;
}
.menu-tab1 {
  height: 65.82%;
  width: 17.24%;
  top: 17.72%;
  right: 51.72%;
  bottom: 16.46%;
  left: 31.03%;
}
.desserts,
.menu-tab2 {
  position: absolute;
  top: 25%;
  left: 17.5%;
}
.menu-tab2 {
  height: 65.82%;
  width: 17.24%;
  top: 17.72%;
  right: 31.03%;
  bottom: 16.46%;
  left: 51.72%;
}
.drinks {
  position: absolute;
  top: 25%;
  left: 25%;
}
.menu-nav,
.menu-tab3 {
  position: absolute;
  height: 65.82%;
  width: 17.24%;
  top: 17.72%;
  right: 10.34%;
  bottom: 16.46%;
  left: 72.41%;
}
.menu-nav {
  height: 10.84%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 89.16%;
  left: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-josefin-sans);
}
.menu-card-child {
  position: absolute;
  height: 0.69%;
  width: 17.24%;
  top: 10.84%;
  right: 72.41%;
  bottom: 88.48%;
  left: 10.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-card {
  position: absolute;
  top: 105px;
  left: 140px;
  width: 1160px;
  height: 729px;
}
.footer-icon1,
.header3 {
  position: absolute;
  top: calc(50% + 328.5px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 60px;
}
.header3 {
  top: calc(50% - 40px);
  background-color: var(--color-darkgray-100);
  height: 80px;
}
.logo-icon1 {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 700px);
  width: 80px;
  height: 60px;
  object-fit: cover;
}
.header-footer1,
.header2 {
  position: absolute;
  top: calc(50% - 388.5px);
  left: calc(50% - 720px);
  width: 1440px;
  height: 80px;
}
.header-footer1 {
  height: 777px;
}
.menu-nav-bar-child,
.nav-bar6 {
  position: absolute;
  background-color: var(--color-darkslategray);
}
.menu-nav-bar-child {
  top: 0;
  left: 0;
  width: 800px;
  height: 80px;
}
.nav-bar6 {
  top: calc(50% - 30px);
  left: calc(50% + 61px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  width: 122px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.special-offers1 {
  position: absolute;
  top: 23px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73.2px;
}
.nav-bar-parent4,
.nav-bar7 {
  position: absolute;
  height: 60px;
}
.nav-bar-parent4 {
  top: calc(50% - 20px);
  left: calc(50% - 139px);
  width: 122px;
  cursor: pointer;
}
.nav-bar7 {
  top: calc(50% - 30px);
  left: calc(50% + 57.5px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray);
  width: 115px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.news-letter1 {
  position: absolute;
  top: 23px;
  left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
}
.nav-bar-parent5,
.nav-bar8 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 23px);
  width: 115px;
  height: 60px;
}
.nav-bar8 {
  top: calc(50% - 30px);
  left: calc(50% + 40px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-darkslategray);
  width: 80px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.about1 {
  position: absolute;
  top: 23px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
}
.nav-bar-parent6 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% + 178px);
  width: 80px;
  height: 60px;
}
.nav-bar-parent7,
.nav-bar-parent8 {
  top: calc(50% - 20px);
  cursor: pointer;
}
.nav-bar-parent7 {
  position: absolute;
  left: calc(50% + 298px);
  width: 80px;
  height: 60px;
}
.nav-bar-parent8 {
  left: calc(50% - 259px);
}
.nav-bar-parent8,
.nav-bar-parent9,
.nav-bar11 {
  position: absolute;
  width: 80px;
  height: 60px;
}
.nav-bar11 {
  top: calc(50% - 30px);
  left: calc(50% + 40px);
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-white);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.nav-bar-parent9 {
  top: calc(50% - 20px);
  left: calc(50% - 379px);
  color: var(--color-black);
}
.menu-nav-bar {
  position: absolute;
  top: 0;
  left: 640px;
  width: 800px;
  height: 80px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
.slider-icon {
  position: absolute;
  top: calc(50% - 368.5px);
  left: calc(50% - 55px);
  width: 71px;
  height: 60px;
  object-fit: contain;
  mix-blend-mode: color-dodge;
}
.menu1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 777px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}
